
@{
    ViewBag.Title = "Index";
}


@if (Session.Count == 0)
{
    <p class="alert-danger">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{
    <div class="Logout">
        @Html.ActionLink("Log Out", "Logout", "Admin", new { aria = "" }, new {@style="color:white"})
    </div>
    <br />
    <p style="font-size:larger" class="labelColorWhite">Welcome <b class="alert-success">@Convert.ToString(TempData["name"])</b></p>
   

    <hr />


    using (Html.BeginForm("TakeAppointment", "patient"))
    {
        string s = $"{DateTime.Now.Date.ToString(("yyyy-MM-dd"))}";
        string s1 = $"{DateTime.Now.Date.AddDays(6).ToString(("yyyy-MM-dd"))}";

        <input type="date" name="date" min="@s" max="@s1" required class="container-fluid"/>

        <select name="time" style="height:25px;margin-left:2rem" class="container-fluid">
            <option value="09:00">9:00</option>
            <option value="09:30">9:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
        </select>
        <div>
            <input type="submit" value="Book an Appointment" style="margin:1.5rem auto" class="btn btn-primary btn-danger" id="bookAppoint" @*onclick="changeColor()"*@/>
        </div>
    }

    @*<script type="text/javascript">
        var count = 1;
        function changeColor() {
            var getButton = document.getElementById("bookAppoint");
            if (count == 0) {
                getButton.style.backgroundColor = 'green';
                count = 1;
            } else {
                getButton.style.backgroundColor = 'red';
                count = 0;
            }
        }
    </script>*@

    <hr />

    using (Html.BeginForm("viewAppointments", "Patient"))
    {
        <input type="submit" value="View Upcoming Appointments" class="btn btn-primary btn-danger"/>
    }


}