
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
@if (Session.Count == 0)
{
    <p class="alert-danger">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{
    <div style="float:right">
        @Html.ActionLink("Log Out", "Logout", "Admin")
    </div>

    <p style="font-size:larger">Welcome <b class="alert-danger">@Convert.ToString(TempData["name"])</b></p>


    <hr />


    using (Html.BeginForm("TakeAppointment", "patient"))
    {
        string s = $"{DateTime.Now.Date.ToString(("yyyy-MM-dd"))}";
        string s1 = $"{DateTime.Now.Date.AddDays(6).ToString(("yyyy-MM-dd"))}";

        <input type="date" name="date" min="@s" max="@s1" required />
        
        <select name="time">
            <option value="09:00">9:00</option>
            <option value="09:30">9:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
        </select>
        <input type="submit" value="Book an Appointment" />
    }


}