@model List<WebApplication1.Appointment>
@{
    ViewBag.Title = "ShowAppointments";
}


<style>
    body {
        background-image: url('/Scripts/Images/Reception.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@*@if (Session.Count == 0 || ((User)Session["User"]).role_id != 3)
{
    <p class="alert-danger container">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{*@
    <div class="Logout" style="margin:1rem">
        @Html.ActionLink("Log Out", "Logout", "Admin", new { aria = "" }, new { @style = "color:black;background-color:white" })
    </div>

    <h2 class="bg-warning" style="color:black;padding-left:1rem;margin-top:4rem">Show Appointments</h2>
    <hr />

    <table class="table-bordered table">
        <thead>
            <tr class="WhiteHeader">
                <th>
                    <label>Appointment Id</label>
                </th>

                <th>
                    <label>Patient Id</label>
                </th>

                <th>
                    <label>Appointment Date</label>
                </th>

                <th>
                    <label>Appointment Time</label>
                </th>

                <th>
                    <label>Approve/Reject</label>
                </th>
            </tr>
        </thead>

        <tbody class="TableBody">
            @foreach (var item in Model)
            {
                <tr class="labelColorWhite">
                    <td>@Html.DisplayFor(a => item.appointment_id)</td>

                    <td>@Html.DisplayFor(a => item.patient_id)</td>

                    <td>@item.appointmentDate.Value.ToShortDateString()</td>

                    <td>@Html.DisplayFor(a => item.appointmentTime)</td>

                    <td>
                        @* Here 3rd parameter is patient_id so that we can retrive appointment info based on patient id
                            in ShowAppointments action()
                        *@
                        @using (Html.BeginForm("ShowAppointments", "Receptionist", new { patientId = item.patient_id }))
                        {
                            <div>
                                <select name="isApproved">
                                    <option value="true">Approve</option>
                                    <option value="false">Reject</option>
                                </select>
                                <div style="margin-top:4px"><input type="submit" class="alert-danger" /></div>
                            </div>
                        }
                    </td>
                </tr>

            }
        </tbody>

    </table>
@*}*@


<div style="margin-top:2rem">
    @Html.ActionLink("Back to List", "Index", "", new { @class = "ActionLinks" })
</div>
