@model WebApplication1.User

@{
    ViewBag.Title = "Registration";
}

<h2 style="color:black;padding-left:1rem;text-shadow:2px 2px gray">Sign Up Here</h2>
<style>
    body {
        background-image: url('/Scripts//Images/Admin.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.full_name, "Full Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.full_name, "Full Name", new { htmlAttributes = new { @class = "form-control",@placeholder="Full name",@id= "fullName" } })
            @Html.ValidationMessageFor(model => model.full_name, "", new { @class = "text-danger bg-success text-dark" })
        </div>
    </div>

    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger bg-success text-dark" })
        </div>
        <span style="color:brown;font-weight:600">@TempData["InvalidEMail"]</span>
    </div>

    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.userName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name" } })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger bg-success text-dark" })
        </div>
        <span style="color:brown;font-weight:600">@TempData["InvalidUserName"]</span>
    </div>

    <div class="form-group" style="color:black">

        @Html.LabelFor(model => model.password_, "Password", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.password_, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.password_, "", new { @class = "text-danger bg-success text-dark" })
        </div>
    </div>

    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.confirmPassword_, "Re-Enter Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.confirmPassword_, new { htmlAttributes = new { @class = "form-control" } })
            <p style="margin-top:1rem">
                @Html.ValidationMessageFor(model => model.confirmPassword_, "", new { @class = "text-danger bg-success text-dark" })
            </p>
        </div>
    </div>



    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.age, "Age", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control", @placeholder = "Age" } })
            @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger bg-success text-dark" })
        </div>
    </div>

    <div class="form-group" style="color:black">
        @Html.LabelFor(model => model.contact_number, "Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contact_number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Number(0123456789)" } })
            @Html.ValidationMessageFor(model => model.contact_number, "", new { @class = "text-danger bg-success text-dark" })
        </div>
        <span style="color:brown;font-weight:600">@TempData["InvalidContact"]</span>
        <span style="color:brown;font-weight:600">@TempData["contactValidator"]</span>
       
        
    </div>

    <div class="form-group" style="color:black">
            @Html.LabelFor(model => model.gender, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
        <select name="Gender" class="container-fluid" style="margin-left:2rem;color:black">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign Up" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink($"Back", "LoginPage", "Home","", new {@class="ActionLinks"})
</div>
