@model WebApplication1.User

@{
    ViewBag.Title = "Delete";
}

<style>
    body {
        background-image: url('/Scripts/Images/Admin.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@*@if (Session.Count == 0)
{
    <p class="alert-danger">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home", "", new { @class = "ActionLinks" });
}
else
{*@
    <div class="Logout">
        @Html.ActionLink("Log Out", "Logout", "Admin", new { aria = "" }, new { @style = "color:black;background-color:white" })
    </div>

    <h3 class="labelColorWhite">Are you sure you want to delete this user?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal labelColorWhite">
            <dt>
                @Html.DisplayNameFor(model => model.full_name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.full_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.specialization)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.specialization)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.role_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.role_id)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Admin"))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" name="id" /> |
                @Html.ActionLink("Back to List", "ShowAll", "", new { @class = "ActionLinks" })
            </div>
        }
    </div>

@*}*@