@model WebApplication1.User

@{
    ViewBag.Title = "Edit";
}

<style>
    body {
        background-image: url('/Scripts/Images/Admin.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="Logout" style="margin-top:1.5rem">
    @Html.ActionLink("Log Out", "Logout", "Admin", new { @style = "color:black;background-color:white" })
</div>

<h2 style="color:black">Edit User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.full_name, "Full Name",htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.full_name,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.full_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.email,"Email" ,htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.userName, "User Name",htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.password_,"Password" ,htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.password_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.age, "Age",htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.contact_number,"Contact Number" ,htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.gender,"Gender" ,htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })*@


                <select name="Gender" class="btn-primary">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.specialization,"Specialization" ,htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.specialization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.specialization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:black">
                @Html.LabelFor(model => model.role_id, "Role Id",htmlAttributes: new { @class = "control-label col-md-2" })
            </span>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.role_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })*@

                <select name="role_id">
                    <option>Select Role</option>
                    <option value="1">1(Admin)</option>
                    <option value="2">2(Doctor)</option>
                    <option value="3">3(Receptionist)</option>
                    <option value="4">4(Patient)</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ShowAll", "", new { @class = "ActionLinks" })
</div>
